@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';
.main {
    background-color: #000d16;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    @include desktop {
        display: flex;
        // margin: auto;
        justify-content: center;
    }
    &__button {
        background-color: #228dda;
        border: unset;
        color: aliceblue;
        padding: 10px 15px;
        border-radius: 50px;
    }
    &__hover {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.213);
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
    &__news {
        width: 90%;
        margin: auto;
        max-width: 600px;
        @include tablet {
            // width: ;
        }
        @include desktop {
            margin: unset;
            margin-bottom: 5vw;
        }
        &--title {
            padding: 30px 0;
        }
        &--section {
            background-color: #0d3749;
            padding: 30px 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 1vw 2vw 0 #47525d, 0 1.5vw 2.5vw 0 #55aaff74;
            max-width: 400px;
            margin: auto;
            @include tablet {
                padding: 5vw 3vw;
            box-shadow: 0 10px 20px 0 #47525d, 0 8px 12px 0 #55aaff74;
                
            }
            &__card {
                background-color: #000d16;
                border-radius: 10px;
                // width: 90%;
                // margin: auto;
                margin-bottom: 15px;
                position: relative;
                &--img {
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                &--date {
                    color: rgb(148, 148, 148);
                    font-size: 12px;
                    margin: 0;
                }
                &--title {
                    text-align: center;
                    padding: 10px 0;
                }
                &--div {
                    padding: 15px 10px;
                }
                &--loc {
                    background-color: rgb(35, 152, 152);
                    border-radius: 20px;
                    width: fit-content;
                    padding: 5px 10px;
                    font-size: 12px;
                }
                &--exp {
                    background-color: rgb(49, 152, 35);
                    border-radius: 20px;
                    width: fit-content;
                    padding: 5px 10px;
                    margin: 5px 0;
                    font-size: 12px;
                }
                &--ss {
                    background-color: rgb(152, 35, 66);
                    border-radius: 20px;
                    width: fit-content;
                    padding: 5px 10px;
                    font-size: 12px;
                    margin: 5px 0;
                }
            }
        }
    }
    &__space {
        width: 90%;
        margin: auto ;
        margin-bottom: 5vw;
        // margin: auto;
        max-width: 600px;
        @include desktop {
            margin: unset;
        }
        &--section {
            background-color: #0d3749;
            padding: 30px 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 1vw 2vw 0 #47525d, 0 1.5vw 2.5vw 0 #55aaff74;
            margin-bottom: 30px;
            max-width: 400px;
            margin: auto;
            
            @include tablet {
                padding: 5vw 3vw;
            box-shadow: 0 10px 20px 0 #47525d, 0 8px 12px 0 #55aaff74;

            }
            &__card {
                background-color: #000d16;
                border-radius: 10px;
                padding: 15px 10px;
                // width: 90%;
                // margin: auto;
                margin-bottom: 15px;
                position: relative;
                &--top {
                    display: flex;
                    align-items: center;
                    &__div {
                        height: 100px;
                        width: 100px;
                        // overflow: hidden;
                        border: 1px solid rgb(197, 192, 192);
                        margin: 10px;
                    border-radius: 100%;
                    }
                    &__img {
                        width: 100px;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    &__date {
                        color: rgb(148, 148, 148);
                    font-size: 12px;
                    margin: 0;
                    }
                    &__name {
                        color: burlywood;
                        font-size: 12px;
                        padding-top: 5px ;
                    }
                    &__pad {
                        font-size: 10px;
                        font-style: italic;
                        padding: 5px 0;
                    }
                    &__title {
                        font-size: 14px;
                        border-bottom: 1px solid white ;
                        padding-bottom: 5px;

                    }
                }
                &--bot {
                    &__status {
                        padding: 5px 0;
                        border-bottom: 1px solid white;
                    }
                    &__desc {
                        font-style: italic;
                        font-size: 13px;
                        padding: 5px 0;
                    }
                    &__miss {
                        margin-top: 5px;
                    }
                    &__bot {
                        padding: 5px 0;
                    
                        &--1 {
                            background-color: rgb(152, 35, 66);
                    border-radius: 20px;
                    width: fit-content;
                    padding: 5px 10px;
                    font-size: 12px;
                        }
                        &--2 {
                            background-color: rgb(49, 152, 35);
                    border-radius: 20px;
                    width: fit-content;
                    padding: 5px 10px;
                    margin: 5px 0;
                    font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    &__station {
        width: 90%;
        margin: auto;
    }
}
